doctype html
html(ng-app="phwApp")
	head
	title Philadelphia History Walk
	script(src="https://use.fontawesome.com/112cfad2d1.js")
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Neuton|Work+Sans')
	body
		input(type="checkbox" name="" value="")#toggler
		.page-wrap
			label(for="toggler").toggle ☰
			.page-content
				block content
			.sidebar
				a(href="/") 
					li PHW			
				a(href="#")
					li Budget
				a(href="#")
					li Map
				a(href="#")
					li Tour Info
				a(href="#")
					li Contact
			script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
			script(type="text/javascript" src="angular/angular.min.js")
			script(type="text/javascript" src="angular/phwApp.js")
			script(type="text/javascript" src="js/script.js")
