@import 'pallette'
@import 'fonts'
@import 'bourbon/bourbon'
$container: 0.25em


\:root
	font-size: 24px

body
	font-family: $work-sans
	margin: -23px 0
h1 h2 h3 h4
	font-family: $work-sans
//Header
header
	height: 5rem
	h1
		font-size: 1.3em
	.title
		display: block
		text-align: center
// Navigation
.toggle
	+position(fixed, 20px 0 0 20px)
	z-index: 2
	text-decoration: none
	font-size: 2rem
	color: black
	+transition()
	width: 0%
.page-content
	position: relative
	+transition()
	z-index: 1
.container
	background-color: white
	padding: 1rem
.sidebar
	+position(fixed, 0px 0 0px 0px)
	z-index: 0	
	width: 120px
	padding: 30px
	background: #333
#toggler
	display: none
	&:checked + .page-wrap
		.toggle
			left: 200px
		.page-content
			padding-left: 180px
a
	text-decoration: none
li
	color: rgba(255,255,255, 0.8)
	font-size: 1.2rem
	margin-bottom: 16px
	list-style: none
	-webkit-font-smoothing: antialiased
	&:hover
		color: rgba(255,255,255, 1)
//Tagline
.tagline
	margin: auto
	text-align: center
//Reviews
.reviews
	background-color: $gainsboro
.review-item-text
	text-align: left
.review-item-author
	text-align: right

//have an array of maps and use angular to dispaly map based on current price on slider
.map
	display: block
	margin: auto
iframe
	display: block
#mid-map
	display: none
#high-map
	display: none
#budget-slider
	text-align: center

	
//Tour Info
#tour-info
	background-color: $gainsboro
//Guide Info
#profile
	border-radius: 100%
	display: block
	margin: auto
	width: 75%
#guide-name
	font-size: 3rem
	margin: auto
	text-align: center
#degree
	text-align: center
	margin-top: 0px
#bio
	font-size: 1.2rem
// Email Form
#email-form
	background-color: $gainsboro
	padding: $container
	h2
		font-size: 1.4rem
	input
		font-size: 1rem
		margin: auto
		box-sizing: border-box
		display: block
		width: 100%
	.form-field
		margin-bottom: 0.5em
		margin-top: 0.5em
	textarea
		box-sizing: border-box
		width: 100%
